@media screen and (max-width:1120px) {
    .menu-list {
        display: block ;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 1200px;
        right: 0;
        background-color: #131313;
        padding-top: 40px;
        transition: all ease-in .4s;
    }

    .responsive-menu{
        left: 0px !important;
    }

    .menu-list li {
        font-size: 20px;
        margin-right: 0;
        margin-bottom: 20px;
    }


    .menu-list li {
        color: #fff;
    }

    .close-btn{
        margin-bottom: 20px;
    }
    .close-btn, .responsive-btn{
        display: inline-block;
        background-color: transparent;
        outline: 0;
        border: 0;
    }
    .close-btn:focus, .responsive-btn:focus{
        outline: 0;
    }


    .header-img img {
        width: 287px;
        height: 474px;
        margin-top: 166px;
    }

    .header-content {
        width: 615px;
    }

    .service-icon {
        margin-right: 6%;
    }

    .feedback-info,
    .customer-info {
        width: 283px;
    }

    .feedback-info img {
        top: -3px;
    }
}


@media screen and (max-width:991px) {
    .header-img img {
        width: 289px;
    }

    .header-content {
        width: 477px;
    }

    .service-icon {
        margin-right: 4%;
    }

    .service-item {
        margin: 30px 0;
    }

    .service-content h3 {
        font-size: 1.2rem;
    }

    .service-content p {
        font-size: 15px;
    }

    .feedback-info {
        padding: 15px 12px 0;
    }

    .feedback-info,
    .customer-info {
        width: 217px;
    }

    .statistics-item p {
        font-size: 14px;
    }


    .partner-item {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    .header-img {
        display: none;
    }

    #testimonials .heading-custom {
        text-align: center;
    }

    .feedback-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback-info,
    .customer-info {
        width: 272px;
    }

}

@media screen and (max-width: 575px) {
    .header-content {
        width: 97%;
    }

    .header-content h2 {
        font-size: 1rem;
    }

    .header-content .heading-custom {
        font-size: 2rem;
    }

    .header-content p {
        margin: 0;
    }

    .header-btn {
        display: flex;
        flex-wrap: wrap;
    }


    .statistics-item {
        margin-bottom: 40px;
    }

    .heading-custom {
        /* text-align: center; */
        font-size: 2rem;
    }

    #workgroup .heading-custom {
        font-size: 2rem !important;
    }

    .res-mr{
        margin: 0 !important;
    }

}

@media screen and (max-width: 420px) {
    .about-heading h2 {
        font-size: 1.5rem;
    }

    .purchase-desc h2{
        font-size: 2rem;
    }
}