@media screen and (max-width:1120px) {
    .header-img img {
        width: 287px;
        height: 474px;
        margin-top: 166px;
    }

    .header-content {
        width: 615px;
    }

    .service-icon {
        margin-right: 6%;
    }

    .feedback-info,
    .customer-info {
        width: 283px;
    }

    .feedback-info img {
        top: -3px;
    }
}


@media screen and (max-width:991px) {
    .header-img img {
        width: 289px;
    }

    .header-content {
        width: 477px;
    }
    #services .heading-custom::after{
        left: 180px;
    }
    #gallery .heading-custom::after{
        left: 160px;
    }
    #workgroup .heading-custom::after{
        left: 166px;
    }

    .service-icon {
        margin-right: 4%;
    }

    .service-item {
        margin: 30px 0;
    }

    .service-content h3 {
        font-size: 1.2rem;
    }

    .service-content p {
        font-size: 15px;
    }

    .feedback-info {
        padding: 15px 12px 0;
    }

    .feedback-info,
    .customer-info {
        width: 217px;
    }

    .statistics-item p {
        font-size: 14px;
    }

    .services-heading h2::after {
        left: 250px;
    }

    .partnet-item {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    .header-img {
        display: none;
    }

    #testimonials .heading-custom {
        text-align: center;
    }

    .feedback-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback-info,
    .customer-info {
        width: 272px;
    }

    .services-heading h2::after {
        left: 188px;
    }

    #testimonials .heading-custom::after{
        left: 180px;
    }
}

@media screen and (max-width: 575px) {
    .header-content {
        width: 97%;
    }

    .header-content h2 {
        font-size: 1rem;
    }

    .header-content .heading-custom {
        font-size: 2rem;
    }

    .header-content p {
        margin:0;
    }

    .header-btn {
        display: flex;
        flex-wrap: wrap;
    }

    .services-heading h2::after {
        left: 172px;
    }

    .statistics-item {
        margin-bottom: 40px;
    }

    .heading-custom {
        /* text-align: center; */
        font-size: 2rem;
    }

    #workgroup .heading-custom {
        font-size: 2rem !important;
    }

    #services .heading-custom::after,
    #gallery .heading-custom::after,
    #workgroup .heading-custom::after,
    #testimonials .heading-custom::after {
        left: 105px;
    }

    #news .heading-custom::after {
        left: 60px;
    }
}